* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Roboto";
  background-color: #dfdfdf;
}

.root {
  display: flex;
  flex: 1;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  /* align-items: center; */
}

.card {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  margin-bottom: 10vh;
  padding: 15px;
  min-width: 300px;
  background-color: rgb(66, 108, 114);
  border-radius: 6px;
}

h2 {
  color: #dfdfdf;
  padding: 30px;
  text-align: center;
}

h3 {
  color: #dfdfdf;
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
}

.labels {
  display: grid;
  align-items: center;
  margin-bottom: 10px;
  list-style: none;
  text-decoration: none;
}

.labels strong {
  color: #dfdfdf;
  font-size: 18px;
}

input {
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 5px;
}

p {
  margin-top: 15px;
  color: #f5f5f5;
  display: list-item;
  list-style: disc inside;
}
p:first-child {
  margin-top: 30px;
}
